/* For phones - screens less than 768px wide */
@media only screen and (max-width: 768px) {
    .hero-content .display-3{
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .hero-content .lead{
        font-size: 1rem;
        font-weight: 300;
        padding: 0 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}
